<% layout('layout') -%>

<h1>about</h1>
<p>JavaScript is a language we love despite it giving us so much to hate. This is a collection of those very special irregularities, inconsistencies and just plain painfully unintuitive moments for the language of the web.</p>


<h2>contributing authors</h2>
<p>
These <a href="https://github.com/brianleroux/wtfjs/network/members">fine folk</a> have been the brave warriors of code whom kicked out a wtf for your laughter (or perhaps compassionate tears). Adding a post is simple:
</p>

<ol>
    <li><a href="http://github.com/brianleroux/wtfjs">Fork the code on Github</a></li>
    <li>Add a post to the ./posts folder in the following format: yyyy-mm-dd-title-text-here.md ..yes its Markdown. See the other posts for examples.</li>
    <li>Send <a href="http://twitter.com/brianleroux">@brianleroux</a> a pull request.</li>
</ol>

<h2>Meta</h2>
<p>
    The first crack at this site was a quick and dirty Tumblr thing authored w/ <a href="http://twitter.com/alunny">@alunny</a>. The second iteration was a ground up custom authored NodeJS (0.1.x) blog. This most recent incarnation is an evolution of the original NodeJS codebase (0.4.x) with help from <a href="http://twitter.com/ddtrejo">@ddtrejo</a>. The latest latest incarnation is an migration from 0.4.x to 0.6.x, also with help from <a href="http://twitter.com/ddtrejo">@ddtrejo</a>.
</p>
