<h1>about</h1>
<p>JavaScript is a language we love despite it giving us so much to hate. This is a collection of those very special irregularities, inconsistencies and just plain painfully unintuitive moments for the language of the web.</p>


<h2>contributing authors</h2>
<p>These fine folk have been the brave warriors of code whom kicked out a wtf for your laughter (or perhaps compassionate tears).</p>
<ul>
    <li><a href="http://twitter.com/brianleroux">@brianleroux</a></li>
    <li><a href="http://twitter.com/alunny">@alunny</a></li>
    <li><a href="http://twitter.com/tobeytailor">@tobeytailor</a></li>
    <li><a href="http://twitter.com/tomdevdiary">@tomdevdiary</a></li>
    <li><a href="http://twitter.com/mathias">@mathias</a></li>
    <li><a href="http://twitter.com/thomasfuchs">@thomasfuchs</a></li>
    <li><a href="http://twitter.com/rem">@rem</a></li>
    <li><a href="http://twitter.com/davejohnson">@davejohnson</a></li>
    <li><a href="http://twitter.com/collintmiller">@collintmiller</a></li>
    <li><a href="http://twitter.com/robertnyman">@robertnyman</a></li>
    <li><a href="http://twitter.com/kriskowal">@kriskowal</a></li>
    <li><a href="http://twitter.com/getify">@getify</a></li>
    <li><a href="http://twitter.com/dandean">@dandean</a></li>
    <li><a href="http://twitter.com/sh1mmer">@sh1mmer</a></li>
    <li><a href="http://twitter.com/AtomFusion">@AtomFusion</a></li>
    <li><a href="http://twitter.com/yeco">@yeco</a></li>
    <li><a href="http://twitter.com/rwaldron">@rwaldron</a></li>
    <li><a href="http://twitter.com/F1LT3R">@F1LT3R</a></li>
    <li><a href="http://twitter.com/BoazSender">@BoazSender</a></li>
    <li><a href="http://twitter.com/void_0">@void_0</a></li>
    <li><a href="http://twitter.com/kelemen_viktor">@kelemen_viktor</a></li>
    <li><a href="http://twitter.com/amattie">@amattie</a></li>
    <li><a href="http://twitter.com/deadlyicon">@deadlyicon</a></li>
    <li><a href="http://twitter.com/rcanine">@rcanine</a></li>
    <li><a href="http://twitter.com/jeronevw">@jeronevw</a></li>
    <li><a href="http://twitter.com/jaffathecake">@jaffathecake</a></li>
    <li><a href="http://twitter.com/filmaj">@filmaj</a></li>
    <li><a href="http://twitter.com/tlrobinson">@tlrobinson</a></li>
    <li><a href="http://twitter.com/pbakaus">@pbakaus</a></li>
    <li><a href="http://twitter.com/oleg008">@oleg008</a></li>
    <li><a href="http://twitter.com/apike">@apike</a></li>
    <li><a href="http://twitter.com/remi">@remi</a></li>
    <li><a href="http://twitter.com/rwaldron">@rwaldron</a></li>
    <li><a href="http://twitter.com/jakedevine">@jakedevine</a></li>
    <li><a href="http://twitter.com/Kambfhase">@Kambfhase</a></li>
    <li><a href="http://twitter.com/attaboy">@attaboy</a></li>
    <li><a href="http://twitter.com/3rdEden">@3rdEden</a></li>
    
</ul>

<h3>Meta</h3>

<p>
    The first crack at this site was a quick and dirty Tumblr thing. The second iteration was a ground up custom NodeJS blog. This most recent incarnation is an evolution of the original NodeJS codebase.
</p>
