<!DOCTYPE html>
<html>
    <head>
        <title>WTFJS</title>
        <link rel="stylesheet" href="/public/app.css" type="text/css" media="screen" />
    </head>
    <body>
        <div id="wrap">
            <div id="nav">
                <ul>
                    <li><a href="/">wtfjs</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/rss">rss</a></li>
                    <li><a href="/archive">archive</a></li>
                </ul>
            </div>
            <div id="content"><%= body %></div>
            <div id="foot">&nbsp;</div>
        </div>
        <script src="/public/app.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>