<!DOCTYPE html>
<html>
    <head>
        <title>WTFJS</title>
    </head>
    <body>
        <h1>WTFJS</h1>
        <a href="/rss">RSS</a>
        <a href="/archive">Archive</a>
        <%= body %>
    </body>
</html>
