<!DOCTYPE html>
<html>
    <head>
        <title>WTFJS</title>
        <link rel="stylesheet" href="/public/app.css" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="/public/shjs/sh_darkblue.min.css" type="text/css" charset="utf-8" />
    </head>
    <body>
        <div id="wrap">
            <div id="nav">
                <ul>
                    <li><a href="/">wtfjs</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/rss">rss</a></li>
                    <li><a href="/archive">archive</a></li>
                </ul>
            </div>
            <div id="content"><%= body %></div>
            <div id="foot">&nbsp;</div>
        </div>
        
        <script src="/public/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/shjs/sh_main.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/shjs/sh_javascript_dom.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/app.js" type="text/javascript" charset="utf-8"></script>
    </body>
</html>