<h1>about</h1>
<p>JavaScript is a language we love despite it giving us so much to hate. This is a collection of those very special irregularities, inconsistencies and just plain painfully unintuitive moments for the language of the web.</p>


<h2>contributing authors</h2>
<p>These fine folk have been the brave warriors of code whom kicked out a wtf for your laughter (or perhaps compassionate tears).</p>
<ul>
    <li><a href="http://twitter.com/brianleroux">@brianleroux</a></li>
    <li><a href="http://twitter.com/alunny">@alunny</a></li>
    <li><a href="http://twitter.com/tobeytailor">@tobeytailor</a></li>
    <li><a href="http://twitter.com/tomdevdiary">@tomdevdiary</a></li>
    <li><a href="http://twitter.com/mathias">@mathias</a></li>
    <li><a href="http://twitter.com/thomasfuchs">@thomasfuchs</a></li>
    <li><a href="http://twitter.com/rem">@rem</a></li>
    <li><a href="http://twitter.com/davejohnson">@davejohnson</a></li>
    <li><a href="http://twitter.com/collintmiller">@collintmiller</a></li>
    <li><a href="http://twitter.com/robertnyman">@robertnyman</a></li>
    <li><a href="http://twitter.com/kriskowal">@kriskowal</a></li>
    <li><a href="http://twitter.com/getify">@getify</a></li>
    <li><a href="http://twitter.com/dandean">@dandean</a></li>
    <li><a href="http://twitter.com/sh1mmer">@sh1mmer</a></li>
    <li><a href="http://twitter.com/AtomFusion">@AtomFusion</a></li>
    <li><a href="http://twitter.com/yeco">@yeco</a></li>
    <li><a href="http://twitter.com/rwaldron">@rwaldron</a></li>
    <li><a href="http://twitter.com/F1LT3R">@F1LT3R</a></li>
    <li><a href="http://twitter.com/BoazSender">@BoazSender</a></li>
    <li><a href="http://twitter.com/void_0">@void_0</a></li>
    <li><a href="http://twitter.com/kelemen_viktor">@kelemen_viktor</a></li>
    <li><a href="http://twitter.com/amattie">@amattie</a></li>
    <li><a href="http://twitter.com/deadlyicon">@deadlyicon</a></li>
    <li><a href="http://twitter.com/rcanine">@rcanine</a></li>
    <li><a href="http://twitter.com/jeronevw">@jeronevw</a></li>
    <li><a href="http://twitter.com/jaffathecake">@jaffathecake</a></li>
    <li><a href="http://twitter.com/filmaj">@filmaj</a></li>
    <li><a href="http://twitter.com/tlrobinson">@tlrobinson</a></li>
    <li><a href="http://twitter.com/pbakaus">@pbakaus</a></li>
    <li><a href="http://twitter.com/oleg008">@oleg008</a></li>
    <li><a href="http://twitter.com/apike">@apike</a></li>
    <li><a href="http://twitter.com/remi">@remi</a></li>
    <li><a href="http://twitter.com/rwaldron">@rwaldron</a></li>
    <li><a href="http://twitter.com/jakedevine">@jakedevine</a></li>
    
    
</ul>
<p>Interested in joining the list above? Read this post for more info.</p>


<h2>building your own</h2>
<p>Way back in the day, <a href="http://wtfjs.com">wtfjs.com</a> was a <a href="http://tumblr.com">tumblr tumblog</a> where I embedded <a href="http://gist.github.com">github gists</a> for the code. It was supposed to be a quick and dirty place to capture those special js moments. Unfortunately, the use of gists made ppl all like, "wtf dude", when the code samples (arguably the entire reason for wanting to see the site) where not visible due to the embedded js nature of gists. </p>
<p>At that point, there was only 10^2000000 JavaScript frameworks inspired by Sinatra. The ability to author a site about javascript <em>with javascript</em>, while possible, was still a pain in the ass if not downright irresponsible. Times have changed. There are now more JavaScript frameworks inspired by Sinatra than stars in the sky. And if you are reading this page then <em>The Great Rewrite</em> thwarted statistical failure. </p>
    
<p>One of the real motivators for me to do this was <a href="http://heroku.com">Heroku</a>. Deployment of NodeJS projects is <em>super simple</em>. Over a couple of days wtfjs went from being a shameful hollow shell of PHP and inline everything to a gleaming landscape of bleeding edge tech buzzword pornography:</p>

<ul>
<li><a href="http://nodejs.com">NodeJS</a></li>
<li><a href="http://expressjs.com/">ExpressJS</a></li>
<li><a href="http://attacklab.net/showdown/">Showdown</a> (I had to hack it up a little to work as a CommonJS module.)</li>
<li><a href="http://jquery.com">jQuery</a></li>
<li><a href="http://code.google.com/p/google-code-prettify/">Google Code Prettyfy</a> (Also hacked up.)</li>
</ul>


<h3>templating</h3>
<p>Nothing is perfect. And sometimes shit is just plain wack. The ExpressJS framework is seriously awesome but it has a hardon for HAML which solves problems I do not have. I opted, out of lazyness, for EJS which is not beautiful; tho it is functional. Its like the craigslist of templating solutions. I'd love to reauthor with MustacheJS.</p>
    
    
<h3>testing</h3>    
<p>The testing situation around here is presently dire. ExpressJS utilizes JSSpec which is good. I tend to prefer qUnit with ShouldaJS sugar.</p>    
     
<h3>persistence</h3>
<p>Inspired by Jekyll, Toto and perhaps Scantly I opted to allow posts to be authored in nothing more than simple markdown. Perhaps there is a better way. </p>

