<!DOCTYPE html> <!-- OOoooooh HTML5! -->
<html>
    <head>
        <title>wtfjs</title>
        <link rel="stylesheet" href="/public/app.css" type="text/css" charset="utf-8" />
        <link rel="alternate" type="application/rss+xml" title="RSS Feed for http://wtfjs.com" href="/rss/" />
        <link rel="icon" href="/public/favicon.ico" type="image/x-icon" /> 
        <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    </head>
    <body>
        <div id="wrap">
            <div id="nav">
                <ul>
                    <li><a href="/">wtfjs</a></li>
                    <li><a href="/about">about</a></li>
                    <li><a href="/rss">rss</a></li>
                    <li><a href="/archive">archive</a></li>
                </ul>
            </div>
            <div id="content"><%= body %></div>
            <div id="foot">wtfjs is <a href="/license">free software</a>. get the <a href="http://github.com/brianleroux/wtfjs">source on github</a>. </div>
        </div>
        <a href="http://github.com/brianleroux/wtfjs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>
        <script src="/public/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/app.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" charset="utf-8">
            var _gaq = _gaq || [];
             _gaq.push(['_setAccount', 'UA-190386-6']);
             _gaq.push(['_trackPageview']);

             (function() {
               var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
               ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
               var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
        </script>
    </body>
</html>
<!-- 3 > 2 >= 1 -->