body {
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    padding:20px;
    margin:0;
}

h1 {
    font-size:19pt;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    letter-spacing: -1px;
}

h1 a {
    text-decoration:none;
    color:#333;
}

pre, code {
    font-family: monaco, monospace;
    overflow-x: auto;
    width: 100%;
}

pre {
    border:1px solid #5d6778;
    border-radius:5px;
    -moz-border-radius: 5px;
    padding:10px 10px 20px 0;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#0F2925));
    background:-moz-linear-gradient(top, #000, #0F2925);
}

hr {
    border:none;
    background-color: #eaeaea;
    height: 10px;
    border-radius:5px;
    -moz-border-radius: 5px;
}

#wrap {
    width:800px;
    margin:0 auto 0 auto;
}

#nav {
    border:1px solid #000;
    border-radius:5px;
    -moz-border-radius: 5px;
    height:50px;
}

#nav ul {
    list-style:none;
    margin:0;
    padding:0;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#010F01));
    background:-moz-linear-gradient(top, #666666, #010F01);
    border:1px solid #5d6778;
    border-radius:5px;
    -moz-border-radius: 5px;
    height:48px;
}

#nav ul li {
    display:inline;
    margin:0;
    padding:0;
}

#nav li a {
    font-family:Helvetica, Verdana, Sans-Serif;
    color:#fff;
    text-decoration:none;
    font-size:11pt;
    display:block;
    float:left;
    padding:0 20px 0 20px;
    line-height:46px;
    text-shadow: 0px -1px 0px #000;

}

#nav ul li a:hover {
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#010F01));
    background:-moz-linear-gradient(top, #000, #010F01);
}

#nav ul li:first-child a {
    color:#FF0000;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    letter-spacing: -1px;
    font-size:19pt;
}

#content {

}

#pager {
    height:48px;
    background:#eaeaea;
    border:1px solid #eaeaea;
    border-radius:5px;
    -moz-border-radius: 5px;
}

#prev {
    float:left;
    margin:0 0 0 20px;
}

#next {
    float:right;
    margin:0 20px 0;
}

#prev,
#next {
    text-decoration:none;
    display:block;
    font-size:30pt;
    color:#333;
    text-shadow: 0px 3px 0px #fff;
}

#foot {
    clear:both;
    margin:0;
    padding:0;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#010F01));
    background:-moz-linear-gradient(top, #666666, #010F01);
    border:1px solid #5d6778;
    border-radius:5px;
    -moz-border-radius: 5px;
    height:48px;
    width:800px;
    text-align:center;
}
#foot,
#foot a {
    color:#eaeaea;
    font-size:12pt;
    text-shadow: 0px -1px 0px #000;
    line-height:48px;
}

.clear {
    clear:both;
}

.date {
  color: #666666;
}
/*
  IR_Black style (c) Vasily Mikhailitchenko <vaskas@programica.ru>
*/

pre code {
  color: #f8f8f8;
}

pre {
  background: #000;
}

pre .shebang,
pre .comment,
pre .template_comment,
pre .javadoc {
  color: #7c7c7c;
}

pre .keyword,
pre .tag,
pre .ruby .function .keyword,
pre .tex .command {
  color: #96CBFE;
}

pre .function .keyword,
pre .sub .keyword,
pre .method,
pre .list .title {
  color: #FFFFB6;
}

pre .string,
pre .attribute .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date {
  color: #A8FF60;
}

pre .subst {
  color: #DAEFA3;
}

pre .regexp {
  color: #E9C062;
}

pre .function .title,
pre .sub .identifier,
pre .pi,
pre .decorator,
pre .ini .title,
pre .tex .special {
  color: #FFFFB6;
}

pre .class .title,
pre .constant,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc,
pre .nginx .built_in {
  color: #FFFFB6;
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .number,
pre .variable,
pre .vbscript,
pre .literal {
  color: #C6C5FE;
}

pre .css .keyword {
  color: #96CBFE;
}

pre .css .rule .keyword,
pre .css .id {
  color: #FFFFB6;
}

pre .css .class {
  color: #FFF;
}

pre .hexcolor {
  color: #C6C5FE;
}

pre .number {
  color:#FF73FD;
}

pre .tex .formula {
  opacity: 0.7;
}


h2.about {
    font-weight: 200;
    font-size: 1rem;
    color: #ccc;
    text-align: right;
    font-style: italic;
}

h2.about a {
    color: #bbb;
}
